In [2]:
import sqlalchemy
sqlalchemy.__version__

'1.4.7'

In [6]:
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Text, String, DateTime, Float
engine = create_engine('sqlite:///test.db')

In [4]:
import pandas as pd
data = pd.read_csv('WineQT.csv')
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,2
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,3
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1592
1139,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6,1593
1140,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1594
1141,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1595
1142,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1597

In [9]:
data_acids = data.filter(['fixed acidity', 'volatile acidity', 'chlorides', 'sulphates'])
data_acids.head()

   fixed acidity  volatile acidity  chlorides  sulphates
0            7.4              0.70      0.076       0.56
1            7.8              0.88      0.098       0.68
2            7.8              0.76      0.092       0.65
3           11.2              0.28      0.075       0.58
4            7.4              0.70      0.076       0.56

In [10]:
data_acids.to_sql(
    "Acids",
    engine,
    if_exists='replace',
    index=False,
    chunksize=500
    )

In [11]:
table_name = "Wine Data"

data.to_sql(
    table_name,
    engine,
    if_exists='replace',
    index = False,
    chunksize=500,
    dtype={
        "fixed acidity" : Float,
        "volatile acidity" : Float,
        "citric acid" : Float,
        "residual sugar" : Float,
        "chlorides" : Float
    }
)

In [12]:
table_df = pd.read_sql_table(table_name, con=engine)

In [13]:
table_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4